body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.page-appearance {
  width: 80%;
  margin: auto;
}

.text-format {
  color: #666;
  font-weight: 200;
}

button {
  background-color: rgb(206, 185, 219);
  font-size: 200%;
  font-style: italic;
}